@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
/* /----------------------------------------------------head--------------------------------------------------/ */
*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}

.container-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top {
 
  background-color: black;
  padding-top: 50px;

  margin-bottom: 0;
}
.logo {
  padding-left: 100px;
  margin-right: 50px;
}
.logo img {
  width: 150px;
}
.category {
  padding-right: 200px;
}
.category div p {
  margin-left: 20px;
  color: aliceblue;
  padding-top: 20px;
  font-weight: 700;
  font-size: medium;
  
}
.category p:hover {
  color: chartreuse;
  cursor: pointer;
}
/* /---------------------------------------------------------body------------------------------------------------------/ */
.h1 {
  font-size: 4em;
  color: rgba(240, 248, 255,0.8);
  margin: 0.5rem 0;
  font-weight: bolder;
}
.text {
  font-size: 1.8rem;
  font-weight: 700;
  
  margin: .5rem 0;

}
.para {
  font-size: 1.3rem;
  font-weight: 400;
  margin: .5rem 0;
}
#button {
  font-size: 1.5rem;
  margin-top: 80px;
  /* border: 4px solid white; */
  padding: 1rem 4rem;
  border-radius: 40px;
  width: fit-content;
  background-color: aliceblue;
  color: black;
  font-weight: 600;
}
#button:hover {
  /* color: blue;
  background-color: goldenrod; */
  cursor: pointer;
}
/* /-------------------------------------------------------slide1------------------------------------------------------/ */
.slide1 {
  text-align: center;
  padding: 10rem 0;
  background-color: black;
  color: aliceblue;
  margin-top: 0;
  margin-bottom: 0;
}


.slide_content{
    color: rgb(240, 248, 255);
    width: 70%;
    margin: auto;
    background: transparent;
}

.slide_content h1{
    font-size: 5rem; 
}

.slide1 .slide_content h1{
    color: aliceblue;
    margin-bottom: 1.5rem;
    font-size: 6rem;
}
.slide1 #button {
  margin: auto;
  margin-top: 4rem;
}

/* /----------------------------------------------------slide2-----------------------------------------------------------/ */
.slide2 {
    width: 100%;
    background: url("pic1.jpg") no-repeat center center;
    background-size: cover;
    height: fit-content;
    
    margin-top: 0;
  padding: 12rem 0;
}
/* /---------------------------------------------------brands------------------------------------------------------------/ */
.brands {
  font-size: 2rem;
  font-weight: 800;
  width: 100%;
  padding: 3rem 0;
}
.brands .brand_content{
    width: 70%;
    margin: auto;
}
.brandlogo {
  padding-top: 50px;
  width: 100%;
}
.brandlogo .brand_logo{
  width: 15%;
  margin-left: 50px;
}

.brandlogo .brand_logo img{
    width: 100%;
}
/* /----------------------------------------------------slide3----------------------------------------------------------/ */
.slide3 {
  width: 100%;
  background: url("pic2.jpg") no-repeat center center;
  background-size: cover;
  height: fit-content;
  
  margin-top: 0;
  padding: 12rem 0;
}
